.main {
    &__greetings {
        margin: auto;
        color: seashell;
        max-width: 50vw;
        font-size: 24px;
        text-align: center;
    }
    &__buttonLogo {
        margin: auto;
        padding: 5%;
        width: 15vh;
        background-color: #a18ed7;
        border-radius: 50%;
        transition: 0.4s;
        &:hover {
            transition: 0.4s;
            transform: scale(1.1, 1.1);
        }
    }
    &__sparrow {
        fill: #ffeb7d;
    }
}
