.friend {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__wrapper {
        max-width: 65%;
        padding: 15px;
        border-radius: 25px;
        flex: 1 1 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:hover {
            background-color: #b0a1d7;
            & ~ .friend__arrow {
                opacity: 1;
            }
        }
        &:focus {
            background-color: #b0a1d7;
        }
    }
    &__avatar {
        width: 44px;
        height: 44px;
        & img {
            width: 44px;
            height: 44px;
        }
    }
    &__name {
        font-size: 20px;
        font-weight: normal;
        color: white;
    }
    &__arrow {
        opacity: 0;
    }
}
