body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    background-color: #9157AA;
    height: 100px;
}

.headerLogo {
    width: 75px;
    fill: #FFEB7D;
}

.headerChats {
    margin-left: 15px;
    margin-top: 28px;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    font-size: 22px;
}

.activeFriends {
    border-bottom: 4px solid whitesmoke;
    /* border-radius: ; */
    height: 50px;
}

.headerProfile {
    display: flex;
    flex-direction: row;
}

.headerUserLogo {
    width: 75px;
}

.headerExit {
    margin-top: 5px;
    margin-left: 15px;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    font-size: 22px;
}

.headerExit:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
