body {
    background-color: #B0A1D7;
}

.loginContainer {
    background-color: #A28ED7;
    padding: 15px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%;
    margin: 0 auto;
    margin-top: 17%;
    animation: .6s easeIn steps(120);
    z-index: -20;
}

.headerLogReg {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    margin-top: 10px;
}

.loginField {
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    background-color: #B0A1D7;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    width: 65%;
}

.loginField::-webkit-input-placeholder {
    color: rgb(225, 225, 225);
}

.loginButton {
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 40px;
    width: 140px;
    border-radius: 25px;
    border: none;
    z-index: 1;
    background: none;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

.loginButton::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 120%;
    left: 4%;
    top: -8%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: -2;
    border-radius: 25px;
    transition: .2s ease-in-out;
}

.loginButton:hover {
    cursor: pointer;
}
